
<nav class="navbar navbar-fixed-top ">
    <div class="container pull-left">
        <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div> -->
        <!--/.nav-collapse -->
         <div class=>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="sample.html"><img style="width:100px; height:46px; margin-top:-15px;" src="img/AIGlogo.png"></a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href=""><p>Product</p></a></li>
                <li><a href=""><p> Purchase Order</p></a></li>
                <li><a href=""><p>Campaign & Loyalty</p></a></li>
                <li><a href=""><p>Financials</p></a></li>
                <li><a href=""><p>Reports</p></a></li>
                <li><a href=""><p>Settings</p></a></li>
              </ul>  
            </div>


    </div>
</nav>
