<div class="row ">
<div class=" container col-sm-2 pull-left" style="border-style:solid; border-radius: 10px;">
    <p class="">Categories</p>

</div>
<div class="container-fluid col-sm-10 pull-right " style="border-style:solid; border-radius: 10px; ">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
              <th>Category/Subcategory</th>
              <th>Price</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Prod Description </th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pr in persons">
            <td>{{ pr.code }}</td>
            <td>{{ pr.name }}</td>
            <td>{{ pr.catSub }}</td>
            <td>{{ pr.price }}</td>
            <td>{{ pr.StartDate }}</td>
            <td>{{ pr.EndDate }}</td>
            <td>{{ pr.prodDescript }}</td>
            <td>
                <button class="btn btn-danger btn-xs pull-right" title="Delete" ng-click="deletebrand(pr._id)"><i class="glyphicon glyphicon-trash"></i></button>
                <button ng-click="edit(pr._id)" class="btn btn-default btn-xs pull-right" title="Edit Content"><i class="glyphicon glyphicon-edit"></i></button>
                </button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>