<header></header>


   <!-- <div class="container row " style="width:100%;">
	<div class=" container col-sm-2 pull-left" style="border-style:solid; border-radius: 10px;">
    	<p class="">Categories</p>

	</div>
	<div class="container-fluid col-sm-9 pull-right " style="border-style:solid; border-radius: 10px; ">
	<table class="table table-striped">
	    <thead>
	        <tr>
	            <th>Code</th>
	            <th>Name</th>
	              <th>Category/Subcategory</th>
	              <th>Price</th>
	              <th>Start Date</th>
	              <th>End Date</th>
	              <th>Prod Description </th>
	            <th>action</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="pr in persons">
	            <td>{{ pr.code }}</td>
	            <td>{{ pr.name }}</td>
	            <td>{{ pr.catSub }}</td>
	            <td>{{ pr.price }}</td>
	            <td>{{ pr.StartDate }}</td>
	            <td>{{ pr.EndDate }}</td>
	            <td>{{ pr.prodDescript }}</td>
	            <td>
	                <button class="btn btn-danger btn-xs pull-right" title="Delete" ng-click="deletebrand(pr._id)"><i class="glyphicon glyphicon-trash"></i></button>
	                <button ng-click="edit(pr._id)" class="btn btn-default btn-xs pull-right" title="Edit Content"><i class="glyphicon glyphicon-edit"></i></button>
	                </button>
	            </td>
	        </tr>
	    </tbody>
	</table>
	</div>
</div>
 -->

<tabset class="container tabs-left "  >
<!-- ============ PRODUCT DETAIL TAB ========================================================================== -->
    <tab heading="Product Detail">
	    <div class="container ">
	    <!-- ============ BREADCRUMBS =================== -->
	    	<div class="container" style="display:inline; position: fixed; border-style:solid;border-color: #E9E9E9; border-width: 1px; width:25%; max-width:25%; max-height:100px; border-radius:5px;">
	    		<a href="">Home</a>&nbsp/&nbsp<a href="">Products</a>&nbsp/&nbspCreate New
	    	</div>
	    	<!-- ============ PROPERTIES/ATTRIBUTE TAB =================== -->
	    	
	    		<tabset class="container" style="margin-top:90px;margin-left:110px;position: absolute; width:80%; max-width:100%;" >
    				<tab heading="Properties">
    					
    				</tab>
    				<tab heading="Attribute">
    					
    				</tab>
				</tabset>
	    	
	    </div> 
    </tab>
    <tab heading="Associations">Vertical content B</tab>
</tabset>

<div ng-controller="TabsDemoCtrl">


  
  <hr />

  <uib-tabset>
    <uib-tab heading="Static title">Static content</uib-tab>
    <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
      {{tab.content}}
    </uib-tab>
    <uib-tab select="alertMe()">
      <uib-tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </uib-tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </uib-tab>
  </uib-tabset>

  <hr />

  <uib-tabset vertical="true" type="pills">
    <uib-tab heading="Vertical 1">Vertical content 1</uib-tab>
    <uib-tab heading="Vertical 2">Vertical content 2</uib-tab>
  </uib-tabset>

  <hr />

  
</div>

<!-- /.container -->
